body {
    margin: 0 auto;
    font-family: "Comic Sans MS", cursive, sans-serif
}


                /**********Nav Bar Styles**********/
.nav-bar {
    height:70px;
    width:100%;
    background-color: #000099;
    position: fixed;
    top: 0;
    z-index: 1;
}


.logo {
    height: 100px;
    width: 100px;
    margin-left: 30px;
}

.nav-list {
    float: right;
    margin-right: 30px;
    color: red;
    
}

.list-item {
    color: yellow;
    float: left;
    list-style-type: none;
    padding-right: 20px;
    
}

.list-item a {
    color: red;
    
}
.list-item a:hover {
    color: yellow;
    }
    
.hero {
    background-image: url('../img/jor-el.jpg');
    height: 800px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 10px 10px #fff;
    margin-top: 70px;
}

h1 {
    
    color: red;
    border: 3px yellow;
    height: 100px;
    width: 300px;
    float: left;
    top: 90px;
    left: 42%;
    text-align: center;
    text-shadow: 2px 3px yellow;
    font-family: 'Lateef', cursive;
}

/*END OF HERO*/


.box {
    height: 850px;
    width: 100%;
    margin-top: 100px;
    
}

.content {
    height: 700px;
    width: 28%;
    border: 3px solid red;
    float: left;
    overflow: hidden;
    padding: 25px 20px 25px 20px;
    margin-left: 15px;
    
}

.image {
    height: 700px;
    width: 100%;
    display: block;
    margin: auto;
}


.text {
    height: 700px;
    width: 100%;
    display: block;
    margin: auto;
}

.alternate {
    height: 700px;
    width: 100%;
    display: block;
    margin: auto;
    
}

.blessings {
    height: 300px;
    width: 200px;
}

.footer {
    background-color: red;
    height: 100px;
    width: 100%;
    overflow: hidden;
    text-align: center;
}

.footer-col {
    height: 100px;
    width: 33%;
    float: left;
}

button {
    height: 20px;
    width: 100px;
    border-radius: 3px;
}

input {
    width: 300px;
}

.fa-facebook-square{
    font-size: 3em;
    color: yellow;
    margin: 0 auto;
}

.fa-instagram {
    font-size: 3em;
    color: yellow;
    margin: 0 auto;
}

/*About Styles*/

.container {
    height: 790px;
    width: 100%;
    margin-top: 100px;
}

.columns {
    height: 700px;
    width: 28%;
    border: 3px solid red;
    float: left;
    overflow: hidden;
    padding: 25px 20px 25px 20px;
    margin-left: 15px;
}

.col-img {
    height: 400px;
    width: 380px;
    display: block;
    margin: auto;
}

.audio-col {
    display: block;
    margin: auto;
}

.col-video {
    width: 500px;
    padding: 10px;
}
    /*CONTACT STYLES*/
    
.contact-container {
    width: 100%;
    height: 700px;
    margin-top: 150px;
}

.contact-container iframe {
    width: 45%;
    float: left;
    margin-left: 25px;
}

* {
  margin: 0;
  padding: 0;
  }

#superman {
  position: relative;
  bottom: 150px;
  right: -200px;
  -webkit-animation:
    fly 0.5s 0s infinite alternate;
}

/*
Animation
*/

@-webkit-keyframes pan {
  from { background-position: 0 0; }
  to { background-position: -2000px 0;    }
}

@-webkit-keyframes fly {
  from { top: 50px; }
  to { top: 65px; }
}